@font-face {
  font-family: 'Gilroy-Black';
  src:
  url('../fonts/Gilroy-Black.woff') format('woff'),
  url('../fonts/Gilroy-Black.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }