@media screen and (max-width: 1550px)
    .main
        &__box
            margin-left: 0

@media screen and (max-width: 992px)
    .menu
        padding: 20px 10px
        &__row
            align-items: center
        &__city
            font-size: 21px
        &__text
            font-size: 18px
        &__tel
            font-size: 18px
    .main
        &__title
            font-size: 36px
            line-height: 46px
            max-width: 480px
        &__text
            font-size: 16px
            line-height: 19px
        &__subtitle
            font-size: 16px
            line-height: 19px
            padding: 7px 0 7px 15px

@media screen and (max-width: 767px)
    .menu
        padding: 10px 20px
        &__city
            font-size: 18px
        &__text
            display: none
        &__tel
            & span
                 display: none
            &-img
                display: block
    .main
        padding: 40px 10px
        background: none 
        &__title
            margin: auto
            margin-bottom: 30px
            text-align: center
            font-size: 24px
            line-height: 31px
        &__text
            font-size: 14px
            line-height: 17px
            max-width: 220px
        &__wrap
            width: 100%
        &__subtitle
            margin: auto
            padding-left: 0
            background-position: center
            text-align: center
            width: 100%
            font-size: 14px
            line-height: 17px
            & span
                max-width: 220px
                display: block
                margin: auto
        &__button
            display: block
            margin: auto
        &__img
            width: 80px
            position: absolute
        &__box
            justify-content: center
